extends layout 

block content 
    h1 Do you want to delete genre 
    h3 #{genre.name}

    hr

    if booksByGenre.length!=0 
      h1 Please delete the below books before proceding
      dl
        each book in booksByGenre
          dt
            a(href=book.url) #{book.title}
          dd #{book.summary}
    else 
        form(method="POST" action=genre.url+'/delete')
            button.btn.btn-danger(type="submit") delete 
 